body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(224 202 231 / 70%);
}

.comment {
  position: relative;
  cursor: pointer;
}

h1 {
  color: rgb(135, 71, 159);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  user-select: none;
  animation: move 1.6s ease-in-out infinite alternate;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

.comment .row {
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.replyBtn {
  color: rgb(135, 71, 159);
  top: 10px;
}

.options {
  background-color: rgb(224, 202, 231);
  color: rgb(135, 71, 159);
  right: 10px;
  bottom: 24px;
  border-radius: 16px;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  padding: 7px 0px;
}
.options svg {
  font-size: 17px;
}

@media (min-width: 768px) {
  .options {
    width: 12%;
    bottom: 15px;
  }
}

.create {
  color: rgb(118, 109, 121);
}

.vote {
  background-color: rgb(224, 202, 231);
  width: 65%;
}
.vote span,
.vote button {
  color: rgb(135, 71, 159);
}

@media (min-width: 768px) {
  .vote {
    width: initial;
  }
}

.text {
  font-size: 17px;
  color: rgb(64, 64, 64);
  overflow: auto;
  scrollbar-width: none;
}
.text::-webkit-scrollbar {
  display: none;
}

#sendCommentBtn {
  background-color: rgb(135, 71, 159);
  color: white;
  outline: none;
  border: none;
  padding: 13px 0px;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: rgb(135, 71, 159);
  outline: 0;
  box-shadow: 0 0 4px 1px rgb(135, 71, 159);
}

#model-delete {
  width: 350px;
  transform: translate(-50%, -100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#overlay {
  background-color: #eee;
  opacity: 0.5;
}

#deleteBtns button {
  width: 45%;
}

.edit-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1.8px solid rgb(135 71 159 / 58%);
  border-radius: 7px;
  margin-bottom: 10px;
  outline: none;
  resize: none;
  overflow: auto;
  scrollbar-width: none;
}
.edit-text::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .edit-text {
    margin-bottom: 45px;
  }
}

.update-btn {
  color: rgb(135, 71, 159);
}

.newReply {
  background-color: white;
  width: 660px;
}